{{! Partial: Footer }}

<footer class="footer">

    <h1>Connect</h1>
    <p>
        Available for consulting, <a href="mailto:bilal@ayub.co" target="_blank">get in touch</a>
        <br>Threads, <a href="https://threads.net/AnalogAyub" target="_blank">nonsense</a>
        <br>Instagram, <a href="https://instagram.com/AnalogAyub" target="_blank">curated</a>
    </p>
    
    <hr>

    <p>
        {{@site.title}} &copy; {{date format="YYYY"}}.
        <br><span class="hangingQuote">By Time, indeed humanity is in loss.”</span>
    </p>

    {{!-- {{> copyright}} --}}
    {{!-- {{> social}} --}}

</footer>
