{{! Partial: Notification }}

<div class="notification">
    <div class="notification__container">
        <p class="notification__message notification__message--subscribe">{{t "Success! Thanks for subscribing to {blogtitle}." blogtitle=@site.title}}</p>
        <p class="notification__message notification__message--signup">{{t "Success! Next, complete membership for full access to {blogtitle}." blogtitle=@site.title}}</p>
        <p class="notification__message notification__message--signin">{{t "Success! You've successfully signed in."}}</p>
        <p class="notification__message notification__message--checkout">{{t "Success! Your membership now is active."}}</p>
    </div>
</div>
