{{! Partial: Post Reading Time }}

<div id="post-reading-time" class="post-reading-time" data-total-time="{{reading_time}}" data-minutes="{{t "minutes left"}}" data-minute="{{t "minute left"}}"></div>
