{{! Template: Members - Subscribe }}
{{!< ../default}}

<div class="wrapper">

    <main class="page page--center page--full-height">

        <!-- {{#if @member}}
            <script>window.location = '{{@site.url}}/account/';</script>
        {{else}}

        {{/if}} -->

    </main>

</div>
