/*------------------------------------------------------------------
    Layout: Wrapper
-------------------------------------------------------------------*/

.wrapper {
    position: relative;
    width: 85%;
    max-width: 760px;
    margin: 0 auto;
}

.home-template main section, .footer, .subscribe, .header {
    position: relative;
    padding: 80px;
    @media (min-width: 1200px) {
        padding: 80px 160px;
    }
    @media (max-width: 920px) {
        padding: 80px 7.5%;
    }
    @media (max-width: 720px) {
        padding: 60px 7.5%;
    }
}